fastapi==0.115.5
uvicorn==0.32.1
apscheduler==3.10.4
databricks-sql-connector==3.6.0
oracledb==2.4.1
pydantic==2.10.3
python-dotenv==1.0.1
requests==2.32.3
python-multipart==0.0.18
cryptography==44.0.0
pyjwt==2.10.1
